.body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #058367;
}

a:hover {
  color: #37edb0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway" sans-serif;
}
#cookie-alert p {
  font-size: 24px;
}
/* Header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #012019;
  overflow-y: auto;
}

#header .logo img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .logo h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}
/* Cookie notification */

/* Navigation Menu */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
  color: #058367;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #058367;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/* Hero Section */

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #058367;
}
/* Make it Responsive  */
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/* Section General  */

.section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #71d1b444;
}
.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

/* After  */
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #058367;
  bottom: 0;
  left: 0;
}

/* assortment */

.assortment .assortment-img {
  width: 90px;
  border-radius: 10%;
  margin: 0 auto;
}

.assortment .assortment-item h4 {
  text-align: center;
  font-size: 14px;
  color: #999;
  margin: 0;
}

.assortment .assortment-item {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.assortment .owl-nav,
.assortment .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.assortment .owl-dot {
  display: inline-block;
  margin: 0 5px 10px;

  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.assortment .owl-dot.active {
  background-color: #058367 !important;
}
@media (max-width: 767px) {
  .assortment {
    margin: 30px 10px;
  }
}

/* Order Section  */
.order {
  padding-bottom: 130px;
}

.order .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.order .info i {
  font-size: 20px;
  color: #058367;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.order .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.order .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.order .info .email:hover i,
.order .info .address:hover i,
.order .info .phone:hover i {
  background: #058367;
  color: #fff;
}
.order .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.order .php-email-form .form-group {
  padding-bottom: 8px;
}
.order .php-email-form input {
  height: 44px;
}
.order .php-email-form input,
.order .php-email-form textarea {
  padding: 10px 12px;
}
.order .php-email-form button[type="submit"] {
  background: #058367;
  border: 0;
  padding: 10px 12px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.order .php-email-form button[type="submit"]:hover {
  background: #004e72;
}

/* Footer  */

#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #012019;
}

#footer .agreement {
  text-align: center;
}
#footer .agreement a,
#footer .privacy a {
  color: #ffffff;
}
#footer .privacy {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
/* Back to top button   */
.back-to-top {
  position: fixed;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #058367;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 9999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}
.back-to-top:hover {
  color: #fff;
  background: #00ecb1;
  transition: background 0.2s ease-in-out;
}
